.foo {
  line-height:  2;
}
@media screen and (min-width: 320px) {
  .foo {
    line-height: calc( 2 + 3 * (100vw - 320px) / 880);
  }
}
@media screen and (min-width:  1200px) {
  .foo {
    line-height:  5;
  }
}
